<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/nirmith.shetty/IdeaProjects/AmazonAssignment">
        <classes>
            <class name="com.amazon.tests.AmazonTests">
                <methods>
                    <include name="verifySuccessfulNavigationToAmazonPage"/>
                    <include name="verifyTelevisionPageIsDisplayed"/>
                    <include name="verifySamsungTelevisionAreOnlyDisplayed"/>
                    <include name="verifySecondHighestSamsungTVIsDisplayed"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>